<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @name %>,</h1>
    <p>Did you ask for a password reset? If not, just ignore this email.</p>
    <p>Otherwise, just follow this link: <%= @confirm_url %>.</p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>