<footer class="footer">
  <div class="container">
    <ul class='text-center'>
      <% footer_items.each do |footer_item| %>
        <li><%= link_to footer_item.label, area_path(footer_item) %></li>
      <% end %>
    </ul>
  </div>
</footer>
