body {
  background-color: #f1f4f7;
  position: relative;
  height: 100%;
}
input[type="button" i]:disabled, input[type="submit" i]:disabled, input[type="reset" i]:disabled, input[type="file" i]:disabled::-webkit-file-upload-button, button:disabled, select:disabled, keygen:disabled, optgroup:disabled, option:disabled, select[disabled] > option {
  color: #ccc;
}

.imagedrop-border {
  box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
  display: inline-block;
  border-radius: 50%;
}
*[data-imagedrop] {
  height: 128px;
  width: 128px;
  background-color: #fff;
  border-radius: 50%;
 div {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px #000;
  }
  & > *{ transition: opacity 0.25s; }
}

.card {
  box-shadow: 0 2px 0 rgba(0,0,0,0.075);
  border: 0;
  border-radius: 0;
}

.container-fluid {
  margin-bottom: -120px;
}

.flex-center {
//  display: flex;
//  align-items: center;
//  justify-content: center;
text-align: center;
}

.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 0;
  border: 1px solid 0;
  font-size: 12px;
  line-height: 1.42857;
  vertical-align: middle;
  -webkit-transition: all .25s;
  transition: all .25s
}

.form-control {
  font-size: 12px;
  height: 100%;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #e9e9e9;
  border-top-color: rgb(233, 233, 233);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(233, 233, 233);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(233, 233, 233);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(233, 233, 233);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  transition-duration: .5s;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.input-group-addon {
  border: 1px solid #e1e5ea;
  background-color: transparent;
  border-radius: 0;
  min-width: 45px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  &:first-child {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
#bg-overlay {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .55;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#container {
  min-height: 100vh;
  margin-bottom: -64px;
  height: auto;
  position: relative;
  overflow: hidden;
  opacity: 1;
  visibility: visible;
  & > form {
    max-width: 480px;
    display: inline-block;
    margin-top: 48px;
  }
}
.row.password-management { margin: 0; }
.pad-ver > a {
  color: #fff;
}

.btn-xs {
  font-weight: 300;
  padding: 5px 8px;
}
.mar-btm {
  margin-bottom: 1em;
}

#signin-panel {
  width: 360px;
  display: inline-block;
  margin-top: 120px;
}

.navbar {
  border-radius: 0;
}

*[data-imagedrop] div {
  pointer-events: none;
}